<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Westum\CustApi\Api\PostManagementInterface" type="Westum\CustApi\Model\PostManagement"/>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="FakeData" xsi:type="object">Westum\CustApi\Console\GenerateFakeData</item>
            </argument>
        </arguments>
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="FakeDataImport" xsi:type="object">Westum\CustApi\Console\ImportFakeData</item>
            </argument>
        </arguments>
    </type>
</config>
